@media screen and (max-width:870px) {
    
    .cd-section > div {
        height: 100%;
        position: relative;
      }
      .content {
        background-color: #ddd;
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 60px);
        left: 10px;
        bottom: 10px;
        overflow: hidden;
        border-radius: 10px;
      }

    /* Header */
    header{
        height: 50px;
        padding: 10px 15px;
    }
    .gnb-inner{
        margin-top: -10px;
    }
    .logo img{
        width: 100px;
        margin-top: 10px;
    }
    .gnb{
        display: none;
    }

    /* Entire text */
    .category{
        font-size: var(--font-medium);
        font-weight: bold;
    }
    .headline{
        font-size: var(--font-head-res);
        font-weight: 100;
    }
    .explain{
        font-size: var(--font-small);
        font-weight: 100;
    }

    /* ########### CONTENT 01 ########### */
    #content1 p{
        font-size: var(--font-large);
    }

    /* ########### CONTENT 02 ########### */
    #content2{
        display: block;
        /* padding-top: 50px; */
    }
    .best_product{
        width: 100%; height: 50%;
        padding-top: 70px;
    }

    .best_product h3{
        margin: 10px 0;
    }

    #content2 .explain{
        width: 280px;
    }
    .line{
        margin-bottom: 10px;
    }

    .best_slider{
        width: 100%; height: 50%;
    }

    /* ########### CONTENT 03 ########### */
    #content3{
        padding-top: 240px;
    }
    .categoryy .headline{
        width: 550px;
        margin: 10px auto;
    }
    .categoryy .explain{
        width: 550px;
    }

    #content3 ul li{
        width: 345px; height: 150px;
    }

    #content3 ul li:nth-child(odd){
        margin-right: 10px;
    }
    #content3 ul li:nth-child(even){
        margin-right: 0;
    }
    #content3 ul li:nth-child(3),
    #content3 ul li:nth-child(4),
    #content3 ul li:nth-child(5),
    #content3 ul li:nth-child(6){
        margin-top: 10px;
    }

    .category_caption {
        padding-top: 55px;
    }
    .category_caption p{
        font-size: var(--font-medium);
    }

    /* ########### CONTENT 04 ########### */

    /* ########### CONTENT 05 ########### */
    #back_pattern01,
    #back_pattern02{
        display: none;
    }

    #content5{
        padding: 0;
    }

    .gallery_slider{
        height: 600px;
    }
    .gallery_slider li{
        width: 500px; height: 500px;
    }
    .gallery_slider a img{
        width: 500px; height: 500px;
    }

    /* ########### CONTENT 06 ########### */
    #content6{}

    .brand{
        margin-top: 150px;
    }
    .brand_content{
        margin: 100px auto;
    }
    .brand_content li{
        width: 200px; height: 200px;
        padding: 55px 20px;
    }
    .brand_content li h4{
        font-size: var(--font-large);
    }
    .brand_content li p{
        display: none;
    }
}