@media screen and (max-width:870px) {
    
    .cd-section > div {
        height: 100%;
        position: relative;
      }
      .content {
        background-color: #ddd;
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 60px);
        left: 10px;
        bottom: 10px;
        overflow: hidden;
        border-radius: 10px;
      }

    /* Header */
    header{
        height: 50px;
        padding: 10px 15px;
    }
    .gnb-inner{
        margin-top: -10px;
    }
    .logo img{
        width: 100px;
        margin-top: 10px;
    }
    .gnb{
        display: none;
    }
}