@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

/* Reset CSS */
* { box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; }

/* Default CSS */
body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #F3F3F3;
}

:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --background-color: #F3F3F3;
    --green-color: #467F5A;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font Size */
    --font-head: 48px;
    --font-head-res:30px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 97%;
  position: relative;
}
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  left: 40px;
  bottom: 0;
  overflow: hidden;
  border-radius: 10px;
}

/* ########### Header ########### */
header{
    position: fixed;
    top: 0;
    width: 100%; height: 80px;
    background-color: var(--background-color);
    padding: 10px 40px;
}
.gnb-inner{
    display: flex;
    justify-content: space-between;
}
.logo{
}
.logo img{
    width: 140px;
    margin-top: 10px;
}

.gnb{
    display: flex;
    width: 80%;
    height: 60px;
    padding-left: 90px;
}
.gnb li{
    margin-right: 60px;
}
.gnb li a{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: var(--black-color);
}

.gnb li:hover a{
    color: var(--green-color);
}

.gnb_sub{
    position: absolute;
    top: 60px; left: 20px;
    display: none;
    width: 97%;
    height: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gnb_sub li{
    margin-right: 90px;
    margin-top: 10px;
    float: left;
}
.gnb_sub li:first-child{
    margin-left: 200px;
    margin-right: 80px;
}
.gnb_sub li a{
    display: block;
    font-size: var(--font-large);
    color: var(--black-color);
    margin-top: 15px;
    transition: 0.3s;
}

.gnb_sub li a:hover{
    color: var(--green-color);
    font-weight: 500;
}

.gnb:hover ~ .gnb_sub{
    display: block;
}
.gnb_sub:hover{
    display: block;
}
.icons{
    display: flex;
}
.icons li{
    margin-right: 20px;
}
.icons li:last-child{margin-right: 0;}
.icons li i{
    font-size: 20px;
    color: var(--black-color);
}

/* ########### CONTENT 01 ########### */
#content1{
    position: relative;
    margin-top: 80px;
}
#content1 img{
    width: 100%;
    height: 100%;
}

#content1 p{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -80%);
    width: 800px;
    color: var(--white-color);
    text-align: center;
    font-size: var(--font-head);
    font-weight: 100;
}

#content1 .slide_down{
    position: absolute;
    left: 50%; bottom: 20px;
    display: inline-block;
    width: 1px; height: 80px;
    background-color: rgba(164, 163, 163, 0.507);
}

#content1 .slide_down::after{
    content: '';
    width: 1px; height: 100%;
    position: absolute;
    right: 0; top: 0;
    background-color: var(--white-color);
    animation: slide_down 1s linear infinite;
}

@keyframes slide_down{
    0%{height: 0; top: 0;}
    30%{height: 100%; top: 0;}
    60%{height: 100%; top: 100%; }
    90%{height: 0; top: 100%; }
    100%{height: 0; top: 0; }
}

/* ########### CONTENT 02 ########### */
#content2{
    display: flex;
}
.best_product{
    width: 50%; height: 100%;
    text-align: center;
    padding-top: 150px;
    background-color: var(--background-color);
}
.best_product p{
    font-size: var(--font-medium);
    font-weight: bold;
}
.best_product h3{
    font-size: var(--font-head);
    font-weight: 100;
    margin: 30px 0;
}
.best_product_text{
    display: block;
    margin: 0 auto;
    font-size: var(--font-large);
    font-weight: 100;
    width: 230px;
}
.line{
    display: block;
    margin: 0 auto;
    width: 50px; height: 1px;
    margin-bottom: 30px;
    background-color: var(--black-color);
}

.best_slider{
    width: 50%; height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: red;
    position: relative;
}
.best_slide_container{
    width: 1400px; height: 100%;
    display: flex;
    background-color: #fff;
}
.best_item{
    width: 50%; height: 100%;
}
.best_slider img{
    width: 100%; height: 100%;
}
.caption{
    width: 100%; height: 110px;
    background-color: #fff;
    position: absolute;
    left: 0; bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border: 1px solid #000;
}
.caption ul{
    display: flex;
    padding: 0;
}
.caption ul li{
    margin-right: 10px;
    font-size: 26px;
    font-weight: 100;
}
.caption ul li:first-child::after{
    content: '|';
    font-size: 22px;
    margin-left: 10px;
}

.slide_icon i{
    font-size: 22px;
    cursor: pointer;
    color: var(--grey-dark-color);
}
.slide_icon #prev{
    margin-right: 20px;
}