@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

/* Reset CSS */
* { box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; }

/* Default CSS */
body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #F3F3F3;
}

:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --background-color: #F3F3F3;
    --green-color: #467F5A;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 97%;
  position: relative;
}
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  left: 40px;
  bottom: 0;
  overflow: hidden;
  border-radius: 10px;
}

/* ########### Header ########### */
header{
    position: fixed;
    top: 0;
    width: 100%; height: 80px;
    background-color: var(--background-color);
    padding: 10px 40px;
}
.gnb-inner{
    display: flex;
    justify-content: space-between;
}
.logo{
}
.logo img{
    width: 140px;
    margin-top: 10px;
}

.gnb{
    display: flex;
    width: 80%;
    padding-left: 90px;
}
.gnb li{
    margin-right: 60px;
}
.gnb li a{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: var(--black-color);
}

.gnb li:hover a{
    color: var(--green-color);
}
.icons{
    display: flex;
}
.icons li{
    margin-right: 20px;
}
.icons li:last-child{margin-right: 0;}
.icons li i{
    font-size: 20px;
    color: var(--black-color);
}